.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

span.experience {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: var(--blue);
  color: var(--white);
}

.currentXp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d7d8da;
  font-weight: 500;
}

.currentXp span:first-child {
  font-size: 1.15rem;
}

.currentXp span:last-child {
  font-size: 1.25rem;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: var(--green);
  color: var(--white);
}
