.container {
  height: 100vh;
  max-width: 100%;

  padding-right: 20rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--blue);
}

.loginContainer {
  height: 100vh;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: var(--blue);
}

.loginContainer > section:last-child {
  max-width: 992px;
  flex: 1;
  display: grid;
  justify-content: center;
  align-content: center;
}

.loginContainer > section:last-child div img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loginContainer > section:last-child div strong {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--white);
  padding: 0 2rem;
}

.gitTitleStyle {
  margin: 2rem 0;
  padding: 1rem 2rem;
}

.gitTitleStyle span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
}

.inputAndButtonDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 1rem;
}

.inputAndButtonDiv input {
  width: 75%;
  border: none;
  border-radius: 5px;
  height: 3.5rem;
  padding: 0 0 0 1em;
  background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;
  color: var(--white);
}

.inputAndButtonDiv input:focus {
  outline: none;
}

.inputAndButtonDiv button {
  width: 15%;
  border-radius: 5px;
  height: 3.5rem;
  border: none;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  background: var(--blue-twitter);
  color: var(--white);

  transition: background-color 0.2s;
}

.inputAndButtonDiv button:hover {
  background: var(--green);
}

.inputAndButtonDiv button:disabled {
  background: var(--title);
  color: var(--white);
  cursor: not-allowed;
}

.inputAndButtonDiv button:focus {
  outline: none;
}
